
body {text-align: center; color: #F2F3F4; background-color: #283747; font-family:"Calibri";}

label {color: #EEEEEE;}
input {border-radius: 6px;}
a {color: #85C1E9; text-decoration:none}
a:hover {color: yellow; /* background-color: yellow; */}

/* display: inline-block; */
/*.footer {margin: auto;}
.footerLeft {width: 20%; background-color: yellow; float: left;}
.footerRight {width: 20%; background-color: gray; float: right;}*/

