
#data {font-size: 12pt; padding: 5px;}
#corpo {font-size: 12pt; margin: auto; margin-top: 2%; margin-bottom: 2%;
               background-color: #1F618D; border-radius: 10px; width: 900px; max-width: 80%; 
               padding: 60px; text-align: justify;}
#advertencia {display: none; font-size: 30pt; color: orange;}

#titulo {font-size: 26pt; color: #40E0D0; text-align: center;}
#subtitulo {font-size: 18pt; color: #c0c0c0; margin-top: 10px; text-align: center;}   
#boasvindas {font-size: 14pt; margin-top: 10px; text-align: center;}

/* display: inline-block; */
/*.footer {margin: auto;}
.footerLeft {width: 20%; background-color: yellow; float: left;}
.footerRight {width: 20%; background-color: gray; float: right;}*/

#textoIntroducao {text-align: justify; margin-top: 20px;}
#textoCaracteristicas {text-align: left; margin-top: 20px;}
ul{color: LightGray;}

#textoPalavrasFinais {text-align: justify;}

li::marker {
  color: orange;
}

#links {border: 1px solid gray; border-radius: 5px; padding: 5px; font-size: 10pt; text-align: center;}

#resultados {text-align: center; margin-top: 40px;}
#subtituloResultados {font-size: 20pt;}
#explicacaoResultado {text-align: justify;}


#rodape {border: 1px solid gray; border-radius: 5px; margin-top: 40px; padding: 5px; text-align: center;}
#assinatura {color:#40E0D0}
#assinaturaBfS {color: white; font-size: 10pt;}


