
#sobre {font-size: 14pt; padding: 5px;}
#data {font-size: 12pt; padding: 5px;}
#corpo {margin: auto; margin-top: 2%; margin-bottom: 2%;
        background-color: #1F618D; border-radius: 10px; width: 900px; max-width: 80%; 
        padding: 20px;
        }
#textoExplicacao {font-size: 12pt; padding: 5px;}
#assinatura {color: #F39C12}
#assinaturaBfS {color: whiite; font-size: 12px;}

/* display: inline-block; */
/*.footer {margin: auto;}
.footerLeft {width: 20%; background-color: yellow; float: left;}
.footerRight {width: 20%; background-color: gray; float: right;}*/


#titulo {font-size: 26pt; padding: 5px; color: white;}
#subtitulo {font-size: 18pt; padding: 5px; color: LightGray;}
#textoExplicacao2 {font-size: 12pt; padding: 5px; text-align: left;}
